*{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
    
}
main{
    
    width: 1600px;
    background-color: #f0f0f0; 
    display: flex;
    flex-direction: column;

    

}
.padre1{
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.padre2{
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    
        
}

.padre3{
        
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
}
.padre4{
    
    gap: 15px;
    padding: 20px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
.cabecera1{
    
    height: 70px;
    width: 70vh;
    border-bottom: 5px solid yellow;
    display: flex;
    justify-content: space-around;
    

}


.cabecera{
    
    height: 70px;
    width: 50vh;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid yellow;
    
    align-content: center;
    justify-content: center;
    font-size: 22px;
    background-color: white;
}  


.indice{
    
    display: flex;
    height: 50px;
    width: 100vh;
    color: #0476e7;
    background-color: #d3d3d3;
    justify-content: center;
    align-items: center;
    
}

.ordenar1{
    
    height: 50px;
    width: 12vh;
    color: #0476e7;
    display: flex;
    flex-direction: row;
    
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    
}
.ordenar2{
    background-color: white;
    height: 50px;
    width: 20vh;
    color: #0476e7;
    display: flex;
    flex-direction: row;
    
    align-content: center;
    align-items: center;
    justify-content: center;
}
.ordenar3{
    background-color: aqua;
    height: 50px;
    width: 5vh;
    color: white;
    background-color: #0476e7;
    display: flex;
    flex-direction: row;
    
    align-content: center;
    align-items: center;
    justify-content: center;   
}
.pelis{
    gap: 5px;
    background-color: white;
    height: 400px;
    width: 100vh;
    color: #0476e7;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    
    flex-direction: row;
    align-content: center;
    
    

}
.pelis>img{
    height: 300px;
    width: 25vh;
    
}


#form {
    width: 100%;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

.estrella>img{
    height: 100%;
    width: 30px;

}
.estrella{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}