.nombre{
    margin-left: 240px;
}
.Apellidos{
    margin-left: 230px;
}
.telefono{
    margin-left: 235px;
}
.email{
    margin-left: 253px;
}
.noches{
    margin-left: 170px;
}
.fecha{
    margin-left: 180px;
}
.habitacion{
    margin-left: 170px;
}
.extra{
    margin-left: 255px;
}
.extra1{
    margin-left: 100px;
}
.borrar{
    margin-left: 300px;
}